.section {
    padding: 20px;
  }
  
  .section-title {
    font-weight: bold;
    text-align: center;
  }
  
  .pageDescription {
    margin-top: 20px;
  }
  
  .readMoreButton {
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  /* Media Query for smaller devices */
  @media screen and (max-width: 768px) {
    .col-md-9 {
      max-width: 100%;
    }
  }
  

  .table-responsive {
    margin-top: 20px;
  }
  
  .table thead th {
    background-color: #f8f9fa;
    text-align: center;
  }
  
  .table tbody td {
    text-align: center;
  }
  
  @media (max-width: 576px) {
    .table thead, .table tbody {
      font-size: 0.875rem; /* Adjust font size for smaller screens */
    }
  }

  